/** =================== Atyp =================== **/

/** Atyp Thin **/
@font-face {
    font-family: "Atyp";
    font-weight: 100;
    font-style: normal;
    src: url("AtypText-Thin.ttf");
}

/** Atyp Thin-Italic **/
@font-face {
    font-family: "Atyp";
    font-weight: 100;
    font-style: italic;
    src: url("AtypText-ThinItalic.ttf");
}


/** Atyp Light **/
@font-face {
    font-family: "Atyp";
    font-weight: 300;
    font-style: normal;
    src: url("AtypText-Light.ttf");
}

/** Atyp Light-Italic **/
@font-face {
    font-family: "Atyp";
    font-weight: 300;
    font-style: italic;
    src: url("AtypText-LightItalic.ttf");
}

/** Atyp Regular **/
@font-face {
    font-family: "Atyp";
    font-weight: 400;
    font-style: normal;
    src: url("AtypText-Regular.ttf");
}

/** Atyp Regular-Italic **/
@font-face {
    font-family: "Atyp";
    font-weight: 400;
    font-style: italic;
    src: url("AtypDisplay-Italic.ttf");
}

/** Atyp Medium **/
@font-face {
    font-family: "Atyp";
    font-weight: 500;
    font-style: normal;
    src: url("AtypDisplay-Medium.ttf");
}

/** Atyp Medium-Italic **/
@font-face {
    font-family: "Atyp";
    font-weight: 500;
    font-style: italic;
    src: url("AtypDisplay-MediumItalic.ttf");
}

/** Atyp Bold **/
@font-face {
    font-family: "Atyp";
    font-weight: 700;
    font-style: normal;
    src: url("AtypDisplay-Bold.ttf");
}

/** Atyp Bold-Italic **/
@font-face {
    font-family: "Atyp";
    font-weight: 700;
    font-style: italic;
    src: url("AtypDisplay-BoldItalic.ttf");
}

/** Atyp Black **/
/* @font-face {
    font-family: "Atyp";
    font-weight: 900;
    font-style: normal;
    src: url("Atyp-Black.otf");
} */

/** Atyp Black-Italic **/
/* @font-face {
    font-family: "Atyp";
    font-weight: 900;
    font-style: italic;
    src: url("Atyp-BlackItalic.otf");
} */
